@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


a {
    text-decoration: none;
}
.card > a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #111;
}